body {
  font-family: "proxima-nova", "Proxima Nova", "Helvetica Neue", Helvetica, sans-serif;
  padding-bottom: 5em; }

h1.page-title {
  color: #da552f;
  font-weight: bold;
  font-size: 3.66em; }

p {
  font-size: 1.2em; }

a {
  color: #da552f;
  text-decoration: underline; }
  a:hover {
    color: #c74823; }

.collection {
  width: 100%;
  background-color: #f2f2f2;
  padding: 1.5em;
  box-sizing: border-box;
  margin-top: 1em;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex; }
  .collection img {
    display: inline-block;
    width: 7em;
    height: 7em;
    margin-right: 1.5em; }
  .collection h3 {
    display: inline-block;
    color: #333;
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: 0.05rem;
    margin-top: 0;
    text-transform: uppercase; }
  .collection p {
    margin-bottom: 7px;
    font-size: 15px;
    color: #bbbbbb; }
  .collection .btn-container {
    display: block; }

.btn {
  color: white;
  border-radius: 18px;
  padding: 6px 17px;
  text-decoration: none; }
  .btn:hover {
    color: white;
    transition: all 0.15s ease-in-out; }

.btn-orange {
  background-color: #da552f;
  border: 2px solid #da552f;
  font-weight: 600; }
  .btn-orange:hover {
    border-color: #b8330d;
    box-shadow: 0px 0px 8px #da552f; }

.btn-tweet {
  background-color: #00ACED;
  border: 2px solid #00ACED; }
  .btn-tweet:hover {
    border-color: #008ec4;
    box-shadow: 0px 0px 8px #0099d3; }

@media screen and (max-width: 400px) {
  h1.page-title {
    font-size: 3em; }

  .col-md-8 {
    padding: 0 6px; }

  .collection {
    display: block;
    text-align: center; }
    .collection img {
      margin: auto;
      width: 5em;
      height: 5em;
      margin-bottom: 1em; }
    .collection img, .collection h3, .collection p {
      display: block; }
    .collection p {
      margin-bottom: 9px; } }
@media print {
  .btn-tweet {
    display: none; }

  .collection {
    background-color: transparent;
    margin-top: 0; }
    .collection h3, .collection p {
      color: black; } }
